.form-body{
    display: flex;
    justify-content: center;
    /* margin-top: 50px; */
    align-items: center;
    height: 540px;
    
}
.form-center{
    text-align:center;
    width:30%;
    /* border: 1px #ccc solid; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin:0 3px;
    background-color:#fff;
    height: 380px ;
}
/* .form-input{
    min-width: 30% !important;
} */
.header_1{
    margin-top: 20px;
}
.ant-form-item-control-input-content{
    max-width: 80% !important;
    margin: 0 auto;
}
.ant-input-affix-wrapper > input.ant-input{
    font-size:18px;
}
.ant-form-item-explain.ant-form-item-explain-error{
    text-align:left;
    margin-left:40px;

}
.form-forget{
    text-align: left;
    display:block;
    margin-left: 44px;
    margin-bottom:20px;
}
.form-forget a:hover{
    opacity:0.8
}
/* .ant-btn-primary{
    width: 80%;
    height:100%;
} */
.login-form-button{
    width:60%;
}
.form-btn-login{
    height:100px;
}
.ant-btn-primary{
    height:48px !important;
}
.ant-btn > span{
    font-size:16px;
}

.backgroud-all{
    background:#fff;
    
}
.form-register:hover{
    margin-top: 0;
    opacity:0.8
}