.detail-all{
    box-shadow:0 0px 10px rgba(0, 0, 0, 0.2);
}
.detail-ten{
    font-size:24px;
    font-weight:650;
    margin-bottom:3px
}
.detail-gia{
    font-size:18px;
    font-weight: bold;
    color:red;
    background-color: rgb(236, 228, 228);
}
.detail-loai,.detail-dieukien,.detail-apdung{
    font-size: 14px;
    font-weight:550;
}
.detail-loai{
    opacity:0.6;
    color:#000;
    text-transform: uppercase;
}
.detail-btn-mua{
    width:180px;
    font-weight:350;
    margin-bottom: 20px;
    border:none;
    background:#ee4d2d;
    color:#fff;
    transition: all .3s;
    padding: 13px 0;
}
.detail-btn-mua:hover{
    background:#f05d40;

}
.detail-img{
    margin:auto;
}
.detail-tloai{
    background-color: #1ba0e2;
    color: #fff;
    padding: 3px 16px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
}
.detail{
    margin-bottom:200px;
}