.form-include{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 180px;
}
.form{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    border: 1px solid #ccc;
    
}
.form-img{
    margin-top: 5px;
}
.form-desc{
    flex: 1;
    margin-left: 20px;
}
.form-desc .form-desc-heading{
    font-size: 20px;
    font-weight: 1100;
}
.form-desc .form-desc-type{
    font-size: 16px;
}
.form-desc .form-desc-time{
    font-size: 16px;
    
    color:#000;
}

 .form-price-text{
    color: red;
}
.form-price-quality {
    display: inline-block;
    margin-right: 15px;
}
.form-price-input{
    width: 50px;
    text-align: center;
}
.form-img img{
    width: -webkit-fill-available;
}
.form-total{
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    
}
.form-total .total-price{
    font-size: 18px;
    align-self: right;
}
.form-total .btn-buy{
    float: right;
    border: none;
    background-color: #f96d01;
    color: #fff;
    padding: 8px 28px;
    cursor: pointer;
}
.form-total .btn-buy:hover{
    opacity: 0.7;
}